{% extends 'profile/base.html' %}
{% load static %}

{% block content %}
<!-- ============================================================== -->
<!-- wrapper  -->
<!-- ============================================================== -->
<div class="dashboard-wrapper">
    <div class="influence-profile">
        <div class="container-fluid dashboard-content ">
            <!-- ============================================================== -->
            <!-- pageheader -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h3 class="mb-2">Influencer Profile</h3>
                        <p class="pageheader-text">
                            Proin placerat ante duiullam scelerisque a velit ac porta, fusce
                            sit amet vestibulum mi. Morbi lobortis pulvinar quam.
                        </p>
                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="#" class="breadcrumb-link">Dashboard</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">
                                        Influencer Profile
                                        Template
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end pageheader -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- content -->
            <!-- ============================================================== -->
            <div class="row">
                <!-- ============================================================== -->
                <!-- profile -->
                <!-- ============================================================== -->
                <div class="col-xl-3 col-lg-3 col-md-5 col-sm-12 col-12">
                    <!-- ============================================================== -->
                    <!-- card profile -->
                    <!-- ============================================================== -->
                    <div class="card">
                        <div class="card-body">
                            <div class="user-avatar text-center d-block">
                                <img src="{{ user.userprofile.photo.url }}" alt="User Avatar"
                                    class="rounded-circle user-avatar-xxl">
                            </div>
                            <div class="text-center">
                                <h2 class="font-24 mb-0">{{ user.get_full_name }}</h2>
                                <p>{{ user.userprofile.profession}}</p>
                            </div>
                        </div>
                        <div class="card-body border-top">
                            <h3 class="font-16">Contact Information</h3>
                            <div class="">
                                <ul class="list-unstyled mb-0">
                                    <li class="mb-2">
                                        <i class="fas fa-fw fa-envelope mr-2"></i>
                                        {{ user.email }}
                                    </li>
                                    <li class="mb-0">
                                        <i class="fas fa-fw fa-phone mr-2"></i>
                                        {{ user.userprofile.phone }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body border-top">
                            <h3 class="font-16">Rating</h3>
                            <h1 class="mb-0">4.8</h1>
                            <div class="rating-star">
                                <i class="fa fa-fw fa-star"></i>
                                <i class="fa fa-fw fa-star"></i>
                                <i class="fa fa-fw fa-star"></i>
                                <i class="fa fa-fw fa-star"></i>
                                <i class="fa fa-fw fa-star"></i>
                                <p class="d-inline-block text-dark">14 Reviews</p>
                            </div>
                        </div>
                        <div class="card-body border-top">
                            <h3 class="font-16">Social Channels</h3>
                            <div class="">
                                <ul class="mb-0 list-unstyled">
                                    <li class="mb-1">
                                        <a href="#">
                                            <i
                                                class="fab fa-fw fa-facebook-square mr-1 facebook-color"></i>fb.me/michaelchristy
                                        </a>
                                    </li>
                                    <li class="mb-1">
                                        <a href="#">
                                            <i
                                                class="fab fa-fw fa-twitter-square mr-1 twitter-color"></i>twitter.com/michaelchristy
                                        </a>
                                    </li>
                                    <li class="mb-1">
                                        <a href="#">
                                            <i
                                                class="fab fa-fw fa-instagram mr-1 instagram-color"></i>instagram.com/michaelchristy
                                        </a>
                                    </li>
                                    <li class="mb-1">
                                        <a href="#">
                                            <i
                                                class="fas fa-fw fa-rss-square mr-1 rss-color"></i>michaelchristy.com/blog
                                        </a>
                                    </li>
                                    <li class="mb-1">
                                        <a href="#">
                                            <i
                                                class="fab fa-fw fa-pinterest-square mr-1 pinterest-color"></i>pinterest.com/michaelchristy
                                        </a>
                                    </li>
                                    <li class="mb-1">
                                        <a href="#">
                                            <i
                                                class="fab fa-fw fa-youtube mr-1 youtube-color"></i>youtube/michaelchristy
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body border-top">
                            <h3 class="font-16">Category</h3>
                            <div>
                                <a href="#" class="badge badge-light mr-1">Fitness</a>
                                <a href="#" class="badge badge-light mr-1">Life Style</a>
                                <a href="#" class="badge badge-light mr-1">Gym</a>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end card profile -->
                    <!-- ============================================================== -->
                </div>
                <!-- ============================================================== -->
                <!-- end profile -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- campaign data -->
                <!-- ============================================================== -->
                <div class="col-xl-9 col-lg-9 col-md-7 col-sm-12 col-12">
                    <!-- ============================================================== -->
                    <!-- campaign tab one -->
                    <!-- ============================================================== -->
                    <div class="influence-profile-content pills-regular">
                        <ul class="nav nav-pills mb-3 nav-justified" id="pills-tab" role="tablist">

                            <li class="nav-item">
                                <a class="nav-link" id="pills-passwordchnage-tab" data-toggle="pill"
                                    href="#pills-passwordchnage" role="tab" aria-controls="pills-msg"
                                    aria-selected="false">Update Password</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">

                            <div class="tab-pane fade" id="pills-passwordchnage" role="tabpanel"
                                aria-labelledby="pills-passwordchnage-tab">
                                <div class="card">
                                    <h5 class="card-header">Update Password</h5>
                                    <div class="card-body">
                                        {% if messages %} {% for message in messages %}
                                        <p class="alert alert-info">{{ message }}</p>
                                        {% endfor %} {% endif %}
                                        <form method="post" action="{% url 'passwordchange' %}">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div
                                                    class="offset-xl-3 col-xl-6 offset-lg-3 col-lg-3 col-md-12 col-sm-12 col-12 p-4">
                                                    <div class="form-group">
                                                        <label for="name">Old Password</label>
                                                        <input type="password" name="oldpassword"
                                                            class="form-control form-control-lg" id="oldpassword">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="name">New Password</label>
                                                        <input type="password" name="password1"
                                                            class="form-control form-control-lg" id="password1">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="email">Confirm New Password</label>
                                                        <input type="password" name="password2"
                                                            class="form-control form-control-lg">
                                                    </div>
                                                    <button type="submit" name="action"
                                                        class="btn btn-primary float-right">
                                                        Password
                                                        Update
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end campaign tab one -->
                    <!-- ============================================================== -->
                </div>
                <!-- ============================================================== -->
                <!-- end campaign data -->
                <!-- ============================================================== -->
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end content -->
    <!-- ============================================================== -->
    <div class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    Copyright © 2018 Concept. All rights reserved. Dashboard by
                    <a href="https://colorlib.com/wp/">Colorlib</a>
                    .
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="text-md-right footer-links d-none d-sm-block">
                        <a href="javascript: void(0);">About</a>
                        <a href="javascript: void(0);">Support</a>
                        <a href="javascript: void(0);">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end footer -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- end wrapper -->
<!-- ============================================================== -->
</div>
{% endblock content %}