{% include "includes/head.html" %}
{% load static %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}

<section class="md-section" id="id7">
    <div style="margin-top: 300px;" class="row">
        <div class="col-lg-8 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-2 ">

            <!-- sec-title -->
            <div class="sec-title sec-title__lg-title md-text-center">
                <h2 class="sec-title__title">
                    Verify Your E-mail Address</h2><span class="sec-title__divider"></span>
                <br>
                <h3>We have sent an e-mail to you for verification. Follow the link provided to finalize the
                    signup process. Please contact us if you do not receive it within a few minutes.</h3>
            </div>
            <!-- End / sec-title -->


        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-9  col-lg-push-3">
                <div class="main-content">
                    <div class="row">
                        <div class="col-lg-9 ">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- footer-01 -->
<footer style="position: fixed; bottom: 0; width: 100%;" class="footer-01 md-skin-dark">

    <!-- copyright-01 -->
    <div class="copyright-01 md-text-center">
        <div class="container">
            <p class="copyright-01__copy">2020 &copy; Copyright Awe7. All rights Reserved.</p>
        </div>
    </div><!-- End / copyright-01 -->

</footer><!-- End / footer-01 -->

</div>
<!-- Vendors-->
<script type="text/javascript" src="{% static 'vendors/_jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendors/imagesloaded/imagesloaded.pkgd.js' %}"></script>
<script type="text/javascript" src="{% static 'vendors/isotope-layout/isotope.pkgd.js' %}"></script>
<script type="text/javascript" src="{% static 'vendors/jquery.matchHeight/jquery.matchHeight.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendors/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendors/masonry-layout/masonry.pkgd.js' %}"></script>
<script type="text/javascript" src="{% static 'vendors/swiper/swiper.jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'vendors/jquery-one-page/jquery.nav.js' %}"></script>
<script type="text/javascript" src="{% static 'vendors/menu/menu.js' %}"></script>
<script type="text/javascript" src="{% static 'vendors/jquery.waypoints/jquery.waypoints.min.js' %}"></script>
<!-- App-->
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>

</html>
