{% load static %}
<!-- footer-01 -->
<footer class="footer-01 md-skin-dark">

    <!-- copyright-01 -->
    <div class="copyright-01 md-text-center">
        <div class="container">
            <p class="copyright-01__copy">2020 &copy; Copyright Awe7. All rights Reserved.</p>
        </div>
    </div><!-- End / copyright-01 -->

</footer><!-- End / footer-01 -->

</div>
<!-- Vendors-->
<script type="text/javascript" src="{% static 'vendors/_jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendors/imagesloaded/imagesloaded.pkgd.js' %}"></script>
<script type="text/javascript" src="{% static 'vendors/isotope-layout/isotope.pkgd.js' %}"></script>
<script type="text/javascript" src="{% static 'vendors/jquery.matchHeight/jquery.matchHeight.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendors/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendors/masonry-layout/masonry.pkgd.js' %}"></script>
<script type="text/javascript" src="{% static 'vendors/swiper/swiper.jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'vendors/jquery-one-page/jquery.nav.js' %}"></script>
<script type="text/javascript" src="{% static 'vendors/menu/menu.js' %}"></script>
<script type="text/javascript" src="{% static 'vendors/jquery.waypoints/jquery.waypoints.min.js' %}"></script>
<!-- App-->
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>

</html>
