{% load static %}
<!-- ============================================================== -->
<!-- end main wrapper  -->
<!-- ============================================================== -->
<!-- Optional JavaScript -->
<!-- jquery 3.3.1 -->
<script src="{% static 'assets/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
<!-- bootstap bundle js -->
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
<!-- slimscroll js -->
<script src="{% static 'assets/vendor/slimscroll/jquery.slimscroll.js' %}"></script>
<!-- main js -->
<script src="{% static 'assets/libs/js/main-js.js' %}"></script>
</body>

</html>