{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="md-content">

    <!-- hero -->
    <hero class="hero" id="id1">
        <!-- swiper swiper-container -->
        <div class="swiper swiper-container">
            <div class="swiper-wrapper">
                <div class="hero__wrapper" style="background-image: url('{% static 'img/slider/1.jpg' %}');">
                    <div class="hero__inner">
                        <div class="container">
                            <h1 class="hero__title">How to Master Microcopy</h1>
                            <p class="hero__desc">Suspendisse ac elit vitae est lacinia interdum eu sit amet mauris.
                                Phasellus aliquam nisi sit amet</p>

                            <!-- btn -->
                            <a class="btn btn-primary" href="#">button
                            </a><!-- End / btn -->

                        </div>
                    </div>
                </div>
            </div>

        </div><!-- End / swiper swiper-container -->

    </hero><!-- End / hero -->

    <!-- cta-02 -->
    <div class="cta-02">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 ">
                    <h3 class="cta-02__title">Invest In The Right Place</h3>
                </div>
                <div class="col-lg-3  md-text-right">
                    <!-- btn -->
                    <a class="btn btn-outline" href="#id7">Get a quote</a>
                    <!-- End / btn -->
                </div>
            </div>
        </div>
    </div><!-- End / cta-02 -->

    <!-- Section -->
    <section class="md-section" id="id2" style="background-color:#fff;padding:60px 0;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 ">
                    <div class="mb-30">

                        <!-- sec-title -->
                        <div class="sec-title sec-title__lg-title">
                            <h2 class="sec-title__title">About <span>DiamondCash</span></h2><span
                                class="sec-title__divider"></span>
                        </div><!-- End / sec-title -->

                        <p>A speedy and dependable wellspring of pay with least multifaceted nature? Get-together money
                            to begin a business? Need Funding to pursue your fantasies? These are on the Wishlist of
                            each advanced individual in the current creating society. Our foundation is here to make
                            your desires a reality with our ability to help manage you en route.<br><br>

                            DiamondCash is a ultra-present day capital development and venture firm that gives
                            profoundly available money related administrations in a convenient manner to a broadened
                            scope of organizations, monetary establishments and people<br><br>

                            The DiamondCash contribute stage is committed to giving a solid money related goal and
                            empowering a feeling of speculation through a stable and monetarily secure methods.</p><br>

                        <a class="btn btn-primary btn-outline" href="#">More about us</a>
                    </div>
                </div>
                <div class="col-lg-6 ">

                    <!-- about -->
                    <div class="about"><img src="{% static 'img/about/2.jpg' %}" alt="" />

                        <!-- quote-02 -->
                        <blockquote class="quote-02 about-quote">
                            <p class="quote-02__text">Our Motto here, is to make you rich. Our System is Plan and Simple
                            </p>

                            <!-- authorbox -->
                            <div class="authorbox">
                                <div class="authorbox__avartar" style="background-image: url(https://unsplash.it/800);">
                                    <img src="https://unsplash.it/800" alt="" /></div>
                                <div class="authorbox__info">
                                    <h5 class="authorbox__name">Admin DiamondCash</h5>
                                    <p class="authorbox__work">Admin</p>
                                </div>
                            </div><!-- End / authorbox -->

                        </blockquote><!-- End / quote-02 -->

                    </div><!-- End / about -->

                </div>
            </div>
        </div>
    </section>
    <!-- End / Section -->

    <!-- Section -->
    <section class="md-section" id="id3">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-2 ">

                    <!-- sec-title -->
                    <div class="sec-title sec-title__lg-title md-text-center">
                        <h2 class="sec-title__title">The Simple Operations</h2><span class="sec-title__divider"></span>
                    </div><!-- End / sec-title -->

                </div>
            </div>
            <div class="row row-eq-height">
                <div class="col-sm-6 col-md-6 col-lg-4 ">

                    <!-- services -->
                    <div class="services">
                        <div class="services__img"><img src="{% static 'img/service/1.png' %}" alt="" /></div>
                        <h2 class="services__title"><a href="#">Register With Us</a></h2>
                        <div class="services__desc">Enrollment is basic and free. Compassionate explore to enroll button
                            and fill the necessary data. after which you'll continue to login to get to your Account
                            Dashboard. Note merely can't utilize one set of points of interest twice</div>
                    </div><!-- End / services -->

                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 ">

                    <!-- services -->
                    <div class="services">
                        <div class="services__img"><img src="{% static 'img/service/2.jpg' %}" alt="" /></div>
                        <h2 class="services__title"><a href="#">Select Your Package/Plan</a></h2>
                        <div class="services__desc">From the list of our great venture plans, you cna at that point
                            prepare to form your choice. Our speculation plans permits everybody to contribute from
                            ₦5,000 to ₦20,000. You choose the package that best seem fit for you.</div>
                    </div><!-- End / services -->

                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 ">

                    <!-- services -->
                    <div class="services">
                        <div class="services__img"><img src="{% static 'img/service/3.png' %}" alt="" /></div>
                        <h2 class="services__title"><a href="#">PH AND GH Auto System</a></h2>
                        <div class="services__desc">Once you're set to Supply Help(PH),The framework consolidate you
                            Consequently to your uplines. Whereas a downline will too be naturally blend to pay you
                            after 78hours of your Giving offer assistance.</div>
                    </div><!-- End / services -->

                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 ">

                    <!-- services -->
                    <div class="services">
                        <div class="services__img"><img src="{% static 'img/service/4.png' %}" alt="" /></div>
                        <h2 class="services__title"><a href="#">Referral Bonus For You</a></h2>
                        <div class="services__desc">DiamondCash is exclusively free of referrals. In any case, you get
                            10% of what ever speculation arrange your referrals select in for.</div>
                    </div><!-- End / services -->

                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 ">

                    <!-- services -->
                    <div class="services">
                        <div class="services__img"><img src="{% static 'img/service/5.png' %}" alt="" /></div>
                        <h2 class="services__title"><a href="#">100% Return</a></h2>
                        <div class="services__desc">Individuals qualified for GH will be matched in 78hours (3days). if
                            you don't mind your coperation is required to keep the community developing..</div>
                    </div><!-- End / services -->

                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 ">

                    <!-- services -->
                    <div class="services">
                        <div class="services__img"><img src="{% static 'img/service/6.png' %}" alt="" /></div>
                        <h2 class="services__title"><a href="#">24/7 Customer Service</a></h2>
                        <div class="services__desc">Our admins can alwyas be gotten to any day, any time. You have any
                            issues,
                            Feel free to send a mail anytime, we are available 24/7.
                        </div>
                    </div><!-- End / services -->

                </div>
            </div>
        </div>
    </section>
    <!-- End / Section -->

    <!-- Section -->
    <section class="md-section" id="id4" style="background-color:#fff;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-2 ">

                    <!-- sec-title -->
                    <div class="sec-title sec-title__lg-title md-text-center">
                        <h2 class="sec-title__title">Operations</h2><span class="sec-title__divider"></span>
                    </div><!-- End / sec-title -->

                </div>
            </div>

            <!-- gallery-wrap -->
            <div class="row row-eq-height">
                <div class="col-sm-6 col-md-6 col-lg-6 ">

                    <!-- services -->
                    <div class="services">
                        <div class="services__img"><img src="{% static 'img/service/1.png' %}" alt="" /></div>
                        <h2 class="services__title"><a href="#">How We Work</a></h2>
                        <div class="services__desc">
                            Enlistment is straightforward and free. Generously explore to enlist
                            catch and fill the neccessary data. after which you can continue to login to get to your
                            record Dashboard. Note that you can't utilize one lot of subtleties twice <br><br>

                            From the rundown of our magnificent speculation plans, you can then procedure to settle on
                            your decision. our speculation plans permit everybody to contribute from ₦5,000 to
                            ₦20,000.<br><br>

                            don't hesitate to trial the content as you would prefer. Onihaxy media contents readily
                            welcome you.<br><br>

                            When you are set to Give Help(PH), The framework combines you Consequently to your uplines.
                            While a downline will likewise be consequently converged to pay you after 78hours of your
                            Giving assistance.<br><br>

                            When you are set to Give Help(PH),The framework combine you Naturally to your uplines. While
                            a downline will likewise be naturally converged to pay you after 78hours of your Giving
                            assistance.<br><br>

                            DiamondCash is exclusively free of referrals. All things considered, you get 10% of
                            what ever venture plan your referrals pick in for.<br><br>

                            Individuals qualified for GH will be combined in 48hours (2 days). Please your coperation is
                            expected to keep the network developing.</div>
                    </div>
                    <!-- End / services -->

                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 ">

                    <!-- services -->
                    <div class="services">
                        <div class="services__img"><img src="{% static 'img/service/2.jpg' %}" alt="" /></div>
                        <h2 class="services__title"><a href="#">Why You Should Invest In Us</a></h2>
                        <div class="services__desc">
                            We offer lovely packages such as<br><br>
                            * 100% returns in 48hours<br><br>
                            * 10% referral bonus<br><br>
                            * Fast merging system<br><br>
                            * No need to worry about referrals, yet you can still gain telling your frineds about
                            it<br><br>
                            * Accessible Admins<br><br>
                            * Strong Database with Data Encryption<br><br>
                            * and lots more features.
                        </div>
                    </div>
                    <!-- End / services -->

                </div>
            </div>
        </div>
    </section>
    <!-- End / Section -->

    <!-- Section -->
    <section class="md-section" id="id7">
        <div class="row">
            <div class="col-lg-8 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-2 ">

                <!-- sec-title -->
                <div class="sec-title sec-title__lg-title md-text-center">
                    <h2 class="sec-title__title">Contact us</h2><span class="sec-title__divider"></span>
                </div><!-- End / sec-title -->

            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-9  col-lg-push-3">
                    <div class="main-content">
                        <div class="row">
                            <div class="col-lg-9 ">
                                <form class="contact-form">

                                    <!-- form-item -->
                                    <div class="form-item">
                                        <input class="form-control" type="text" name="name" placeholder="name" />
                                    </div><!-- End / form-item -->

                                    <!-- form-item -->
                                    <div class="form-item">
                                        <input class="form-control" type="text" name="email" placeholder="email" />
                                    </div><!-- End / form-item -->

                                    <!-- form-item -->
                                    <div class="form-item">
                                        <input class="form-control" type="text" name="phone" placeholder="phone" />
                                    </div><!-- End / form-item -->

                                    <!-- form-item -->
                                    <div class="form-item">
                                        <textarea name="message" placeholder="Message"
                                            style="height: 150px;"></textarea>
                                    </div><!-- End / form-item -->

                                    <button class="btn btn-primary btn-round mb-30" type="submit">Send message</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3  col-lg-pull-9">
                    <div class="sidebar">

                        <!-- widget -->
                        <section class="widget">

                            <!-- sec-title -->
                            <div class="sec-title">
                                <h2 class="sec-title__title">Working hours</h2><span class="sec-title__divider"></span>
                            </div><!-- End / sec-title -->

                            <p class="mb-30">We are Available 24/7, Send Us a Message</p>
                            <!--  -->
                            <div>
                                <div class="widget-contact__item"><span class="widget-contact__title">Tel:</span>
                                    <p class="widget-contact__text">+2347020689403</p>
                                </div>
                                <div class="widget-contact__item"><span class="widget-contact__title">email:</span>
                                    <p class="widget-contact__text"><a href="#">admin@diamondcash.com</a></p>
                                </div>
                                <div class="widget-contact__item"><span class="widget-contact__title">Working
                                        Hours</span>
                                    <p class="widget-contact__text">Mon - Sun: 24 Hours</p>
                                </div>
                            </div><!-- End /   -->

                        </section><!-- End / widget -->

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End / Section -->

</div>
<!-- End / Content-->

{% endblock content %}
